{{#bs-modal backdropClose=false}}
<h3>{{itemName}}</h3>
  <strong>Description</strong>
    {{textarea value=description cols="75" rows="6" property="description"}}
    {{bs-button defaultText="Save" type="primary" onClick=(action "closeModal")}}
    {{bs-button defaultText="Delete" type="danger" onSubmit=(action "deleteItem" itemName=itemName)}}
{{/bs-modal}}

{{yield}}
