{{#each listItems as |item|}}
  <h4 onClick={{action "toggleModal"}}>{{item.name}}</h4>
    {{#if isShowingModal}}
      {{list-item-modal
        itemName=item.name
        description=item.description
        onSubmit=(action "deleteListItem" item.name)
        }}
    {{/if}}
 {{/each}}

{{#if showInput}}
  {{input value=listItem enter=(action "addListItem" listItem listName) placeholder="New list item" autofocus=true}}
{{/if}}

<button {{action "newListitemInput"}}>Add List Item...</button>

{{yield}}
