{{#each-in lists as |list|}}
  <div class="col-md-4 card">
    <h2>{{list}}</h2>
      {{new-list-item listName=list}}
  </div>
{{/each-in}}
{{#if showInput}}
  {{input class="add-new-list" value=listName enter="addList" placeholder="New list name" autofocus="autofocus"}}
{{/if}}

<button class="add-new-list" {{action "newListInput"}}>Add List...</button>
{{yield}}