{{#each-in lists as |list|}}
  <div>
    <h2>{{list}}</h2>
      {{new-list-item listName=list}}
  </div>

{{/each-in}}

{{#if showInput}}
  {{input value=listName enter="addList" placeholder="New list name"}}
{{/if}}

<button {{action "newListInput"}}>Add List...</button>

{{yield}}