{{!-- Nav Bar --}}
{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand"}}Tiny Trello{{/link-to}}
  </div>
{{/bs-navbar}}

{{!-- Body --}}
<div class="container">
  <body>
    <div class="row">
      <div class="col-md-4 card">
      <h2>Main List</h2>
      {{!-- Default list items --}}
        {{#each defaultItems as |item|}}
          <h4 id={{item.name}}><a href="#" onClick={{action "openModal" item}}>{{item.name}}</a></h4>
        {{/each}}
        {{!-- Default list's new items --}}
        {{new-list-item
          onClick=(action "openModal")
          itemToDelete=itemToDelete}}
      </div>
      {{!-- New lists --}}
      {{new-list
        onClick=(action "openModal")}}
    </div>
  </body>

  {{!-- Modal Dialog--}}
  {{#if displayModal}}
    {{list-item-modal
      itemName=selectedItem.name
      description=selectedItem.description
      onClick=(action "closeModal")
      onSubmit=(action "deleteItem")}}
  {{/if}}
</div>